:root {
  --color-gray: gray;
  --border-md: 2px solid var(--color-gray);
  --space-md: 16px;
  --space-sm: 10px;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
}

.chat-layout {
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-layout-controls {
  border: var(--border-md);
  padding: var(--space-md);
}

.chat-layout-content {
  margin-top: var(--space-md);
  gap: var(--space-md);
  border: var(--border-md);
  padding: var(--space-md);
  display: flex;
  flex-grow: 1;
}

.chat-layout-aside {
  border: var(--border-md);
  padding: var(--space-sm);
  flex-basis: 300px;
}

.chat-layout-main {
  border: var(--border-md);
  padding: var(--space-sm);
  flex-grow: 1;
}

/* CONTROLS */

.chat-controls {
  display: flex;
  gap: var(--space-sm);
}

.chat-controls-btn {
  background-color: transparent;
  border: 2px solid blue;
  padding: 5px;
  cursor: pointer;
}

.chat-controls-btn:hover {
  background-color: blue;
  color: #fff;
}

.chat-controls-btn.is-active {
  background-color: blue;
  color: orange;
}

/* MODAL */
.chat-modal {
  border: var(--border-md);
  padding: var(--space-md);
  background-color: #fff;

  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 500px;
  width: 100%;
}

.chat-modal-close-button {
  background-color: transparent;
  border: 2px solid red;
  padding: 5px;
  cursor: pointer;
}

.chat-modal-close-button:hover {
  background-color: red;
  color: #fff;
}

/* DISCUSSION LIST */
.chat-discussion-list-items {
  list-style: none;
  padding: 0;
}

.chat-discussion-list-item {
  margin-bottom: var(--space-sm);
}

.chat-discussion-list-item--active {
  background-color: blue;
  color: #fff;
}

.chat-discussion-list-button {
  width: 100%;
  cursor: pointer;
  border: 1px solid var(--color-gray);
  padding: var(--space-sm);
}

.chat-discussion-list-button:hover {
  background-color: blue;
  color: #fff;
}

/* CONTACT LIST */

.chat-contact-list {
  padding: 0;
  list-style: none;
}

.chat-contact-list-item {
  border: 2px solid gray;
  margin-bottom: 16px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}

.chat-contact-list-select {
  cursor: pointer;
}

.chat-contact-list-select--active {
  background-color: blue;
  color: #fff;
}
